@import 'includes/reset'
@import 'includes/class'
@import 'includes/main'
@import 'includes/colors'
@import 'includes/fonts'

@import 'elements/header'
@import 'elements/dashboard'

html, body
	background-color: backgroundColor;