header
	background-color: headerColor;
	border-bottom: 1px solid #131314;
	font-size: 32px;
	font-family: Roboto;
	font-weight: 300;
	position relative
	min-height 70px
	.title
		padding: 17px 20px;
		display: inline-block;
		color: #d6d6d6;